/* ul li {
  text-align: center;
  display: inline;
}

#bunCategorySelector {
  margin: 40px;
  width: 700px;
} */

.bunItemsContainer {
  margin: 50px 30px 0px 30px;
}

/* Styling for each bun container */

.bunContainer {
  /* Each bun item is within this container */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0px 0px 70px 0px;

}

.bunTextContainer {
  /* Each bun text info is in this container */
  font-family: 'Nunito Sans', sans-serif;
  margin-left: 30px;
  width: 67%; //FIGURE THIS OUT
}

.bunIcon {
  width: 55px;
  position: absolute;
  margin-top: -20px;
  margin-left: -20px;
}

.bunImage {
  /* Original width is 224px */
  width: 360px;
  height: 300px;
}

.bunTitle {
  font-size: 25px;
  margin: 0px;
}

.bunDesc {
  font-size: 18px;
  margin: 10px 0px 30px 0px;
}
